{% extends 'base.html.twig' %}
{% block styles %} <link rel="stylesheet" href="{{ asset('styles/table.css') }}"> {% endblock %}

{% block title %}Pilotos index{% endblock %}

{% block body %}
<div class="container">
    <h1>Lista de pilotos de la NANOCUP</h1>



<table>
	<thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                {# <th>Id</th> #}
                {# <th>Email</th> #}
                {% endif %}
                <th>Nombre</th>
                <th>Puntos</th>
                {# <th>Password</th> #}
                <th>Dorsal</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Acciones</th>
                {% endif %}
                
            </tr>
        </thead>
	<tbody>
    
        {% for piloto in pilotos|sort((a, b) => b.puntos <=> a.puntos) %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                        {# <td>{{ piloto.id }}</td> #}
                        {# <td>{{ piloto.email }}</td> #}
                {% endif %}
                <td>{{ piloto.name }}</td>
                <td>{{ piloto.puntos }}</td>
                {# <td>{{ piloto.password }}</td> #}
                <td>{{ piloto.dorsal }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('app_pilotos_show', {'id': piloto.id}) }}">show</a>
                        <a href="{{ path('app_pilotos_edit', {'id': piloto.id}) }}">edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay pilotos</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
    {% if is_granted('ROLE_ADMIN') %}
        <h5>
            <a href="{{ path('app_pilotos_new') }}">Crear piloto</a>
        </h5>
    {% endif %}
</div>
{% endblock %}
