{% extends 'base.html.twig' %}

{% block title %}Pilotos index{% endblock %}

{% block body %}
    <h1>Pilotos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Dorsal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for piloto in pilotos %}
            <tr>
                <td>{{ piloto.id }}</td>
                <td>{{ piloto.name }}</td>
                <td>{{ piloto.email }}</td>
                <td>{{ piloto.password }}</td>
                <td>{{ piloto.dorsal }}</td>
                <td>
                    <a href="{{ path('app_pilotos_show', {'id': piloto.id}) }}">show</a>
                    <a href="{{ path('app_pilotos_edit', {'id': piloto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pilotos_new') }}">Create new</a>
{% endblock %}
