{% extends 'base.html.twig' %}
{% block styles %} <link rel="stylesheet" href="{{ asset('styles/table.css') }}"> {% endblock %}

{% block title %}Clasificación de escuderías{% endblock %}

{% block body %}
    <h1>Clasificación de escuderías</h1>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Id</th>
                {% endif %}
                <th>Logotipo</th>
                <th>Nombre</th>
                <th>Puntos</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for equipo in equipos|sort((a, b) => b.puntos <=> a.puntos) %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ equipo.id }}</td>
                {% endif %}
                <td><img style="max-width:100px" src="{{ equipo.logotipo }}"/></td>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.puntos }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('app_equipos_show', {'id': equipo.id}) }}">Ver</a>
                        <a href="{{ path('app_equipos_edit', {'id': equipo.id}) }}">Editar</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay escuderías</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <h5>
            <a href="{{ path('app_equipos_new') }}">Crear escudería</a>
        </h5>
    {% endif %}
{% endblock %}
