<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | NANOCUP!</title>
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
</head>

<body>
    {% block header %}
        <div class="container-fluid">
            <div class="header-bar">
                <h1 class="logo"><img src="{{ asset('img/logo.enc') }}" alt="NANOCUP!"/></h1>
                <ul class="slider-menu">
                    <li><a href ="{{ path('app_home') }}">Home</a></li>
                    <li><a href ="{{ path('app_register') }}">Register</a></li>
                    <li><a href ="{{ path('app_login') }}">Login</a></li>
                    <li><a href ="{{ path('app_logout') }}">Logout</a></li>

                </ul>
            </div>
        </div>
    {% endblock %}
    {% block body %}{% endblock %}
</body>

</html>
  